<div class="container">
    <a href="/music" class="btn btn-success top-float-button" title="Back to music search"><span class="fa fa-arrow-left"></span> Back to search</a>
    <h3>Enter the information for a new piece below:</h3>
    <form action="/music/insertmusic" method="post">
        <div class="form-group">
            <label class="sr-only" for="composer">Composer</label>
            <input class="form-control" type="text" id="composer" name="composer" placeholder="Composer" />
        </div>

        <div class="form-group">
            <label class="sr-only" for="work">Work</label>
            <input class="form-control" type="text" id="work" name="work" placeholder="Work" />
        </div>

        <div class="form-group">
            <label class="sr-only" for="work_number">Work #</label>
            <input class="form-control" type="text" id="work_number" name="work_number" placeholder="Work #" />
        </div>

        <div class="form-group">
            <label class="sr-only" for="type">Type</label>
            <select id="type" name="type" class="form-control">
                {{#if types}}
                {{#each types}}
                <option value="{{type}}">{{type}}</option>
                {{/each}}
                {{/if}}
            </select>
        </div>

        <div class="form-group">
            <label class="sr-only" for="item_number">Item #</label>
            <input class="form-control" type="text" id="item_number" name="item_number" placeholder="Item #" />
        </div>

        <div class="form-group">
            <label class="sr-only" for="item_number">Conductor</label>
            <input class="form-control" type="text" id="conductor" name="conductor" placeholder="Conductor" />
        </div>

        <button type="submit" class="btn btn-primary">Add piece</button>
    </form>

    {{> alert}}
</div>